{% extends 'base_index.html' %}
{% block title%}晒美食信息审核{% endblock %}
{%block content%}

{% load pagination_tags %}
{% autopaginate datas 10 %}
<script type="text/javascript">
$(document).ready(function(){
	$("tr").click(function(){
	 	var checkbox = this.getElementsByTagName('input')[0];
	 		if ($(this).attr('class') == 'error'){
				$(this).attr('class',$(this).attr('origin'));
				checkbox.checked = false;
			}else{
				$(this).attr('class','error');
				checkbox.checked = true;
			}

		
	});

	$("#approve").click(function(){
		$("#approveForm").attr('action','{% url "approve.views.approve" 2 %}');
		$("#approveForm").submit();
	});

	$("#unapprove").click(function(){
		$("#approveForm").attr('action','{% url "approve.views.unapprove" %}');
		$("#approveForm").submit();
	});

	$("#delicious").click(function(){
		$("#approveForm").attr('action','{% url "approve.views.approve" 4 %}');
		$("#approveForm").submit();
	});
});
</script>
<div class="row">
	<div class="span14">
		<div class="pagination-large pagination-centered" > 
  <h4>{% paginate %}</h4>
</div>
	<form method="POST" id="approveForm" action="">
		<input type="hidden" name="QUERY_STRING" value="{{request.META.QUERY_STRING}}"/>
		<input type="hidden" name="MSG_IDS" value="{% for data in datas %}{% if data.sort.value == 1 %} {{data.id}} {% endif %} {% endfor %}"/>
		{% csrf_token%}
	<table class="table table-striped table-condensed table-hover">
		<tr id="title">
			<th><input type="hidden" id="all"/></th>
			<th  width="10%">标题</th>
			<th  width="10%">推荐理由</th>
			<th align="right">内容</th>
			<th width="20%">配图</th>
			<th width="10%">创建时间</th>
		</tr>
		{% load image_tag %}
		{% for item in datas %}
		{% if item.sort.value == 1 %}
		<tr class="" origin="" >
		{% elif item.sort.value == 2 %}
		<tr class="success" origin="success" >
		{% elif item.sort.value == 4 %}
		<tr class="success" origin="success">
		{% else %}
		<tr class="warning" origin="warning" >
		{% endif %}
			<td><input type="checkbox" value="{{item.id}}" name="cb_id" /></td>
			<td>{{item.title}}</td>
			<td>{{item.reason}}</td>
			<td>{{item.content}}</td>
			<td><img src="{{item.content|image_tag}}" /></td>
			<td>{{item.create_time}}</td>
		</tr>
		{% endfor %}
	</table>
	</form>
	<div class="pagination-centered">
		<input type="button" id="delicious" class="btn-danger btn-large" value="美食">
		<input type="button" id="approve" class="btn-warning btn-large" value="菜谱">
		<input type="button" id="unapprove" class="btn btn-large" value="撤销">
	</div>
	<br/>
	<div class="pagination-large pagination-centered" > 
  <h4>{% paginate %}</h4>
</div>
</div>
</div>
{% endblock %}