{% extends 'base_index.html' %}
{% block title%}商户列表{% endblock %}
{%block content%}

{% load pagination_tags %}
{% autopaginate merchants 20 %}
<script type="text/javascript">


</script>

<div class="span3">
<form id="merchantsForm" method="GET" action="">
	<table class="table table-striped table-condensed table-hover">
			{% for item in merchants %}
		<tr onclick= javascript:window.location.href="{%url 'merchant.views.merchant_detail' item.id %}">
			<td>{{item.img}}</td>
			<td>
				<div>{{item.name}}</div>
				<div>&nbsp</div>
				<div>{{item.distance}} m</div>
			</td>
		</tr>
			{% endfor %}
		
	</table>
</form>
	<div class="pagination-large pagination-centered" > 
  <h4>{% paginate %}</h4>
</div>
</div>
{% endblock %}